/* 
highlightjs
 */
.hljs{display:block;overflow-x:auto;padding:.5em;color:#abb2bf;background:#282c34}.hljs-comment,.hljs-quote{color:#5c6370;font-style:italic}.hljs-doctag,.hljs-keyword,.hljs-formula{color:#c678dd}.hljs-section,.hljs-name,.hljs-selector-tag,.hljs-deletion,.hljs-subst{color:#e06c75}.hljs-literal{color:#56b6c2}.hljs-string,.hljs-regexp,.hljs-addition,.hljs-attribute,.hljs-meta-string{color:#98c379}.hljs-built_in,.hljs-class .hljs-title{color:#e6c07b}.hljs-attr,.hljs-variable,.hljs-template-variable,.hljs-type,.hljs-selector-class,.hljs-selector-attr,.hljs-selector-pseudo,.hljs-number{color:#d19a66}.hljs-symbol,.hljs-bullet,.hljs-link,.hljs-meta,.hljs-selector-id,.hljs-title{color:#61aeee}.hljs-emphasis{font-style:italic}.hljs-strong{font-weight:bold}.hljs-link{text-decoration:underline}

/* 
reset
 */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

/* Form Default style */
input, textarea, button, select, option, optgroup { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
html { font-size: 62.5%; line-height: 1; color:#222;}
body { font-size: 1.6rem; line-height: 1.6; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }

/* Remove tap highlight color */
body, textarea:focus, input:focus, a:focus { -webkit-tap-highlight-color: rgba(0, 0, 0, 0); outline: none; }

/* Fixed text size for ios */
html { -ms-text-size-adjust: none; -webkit-text-size-adjust: none; -moz-text-size-adjust: none; text-size-adjust: none; }

/* Make sure embeds and iframes fit their containers. */
embed, iframe, object { max-width: 100%; }

/* Reset mobile default style */
input, textarea { -webkit-appearance: none; -webkit-border-radius: 0px; -moz-border-radius: 0px; border-radius: 0px; }

/* Create a responsive image */
img { max-width: 100%; height: auto; }

/* Change selection color */
::-moz-selection { background: #FFDF01; background: rgba(255, 223, 1, 0.3); }
::selection { background: #FFDF01; background: rgba(255, 223, 1, 0.3); }

/* Link */
a { text-decoration: none; word-break: break-all; color:#222; }
a:hover, a:focus, a:active { outline: 0; color: #ffb302; text-decoration: underline; }

/* Disabled Link */
.disabled { cursor: not-allowed; opacity: 0.5; }
.disabled > a { color: currentColor; display: block; pointer-events: none; text-decoration: none; }

/* Do not show the outline on the skip link target. */
#page-content[tabindex='-1']:focus { outline: 0; }

/* Fixed scrolling issue when content length is too short */
.main-content { min-height: 70vh; }

/* Text meant only for screen readers. Many screen reader and browser combinations announce broken words as they would appear visually. */
.screen-reader-text { position: absolute !important; overflow: hidden; clip: rect(1px, 1px, 1px, 1px); width: 1px; height: 1px; margin: -1px; padding: 0; word-wrap: normal !important; border: 0; -webkit-clip-path: inset(50%); clip-path: inset(50%); }
.screen-reader-text:focus { font-size: 14px; font-size: .875rem; line-height: normal; z-index: 100000; top: 5px; left: 5px; display: block; clip: auto !important; width: auto; height: auto; padding: 15px 23px 14px; text-decoration: none; color: #FFB302; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; background-color: #f1f1f1; -webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, .6); -moz-box-shadow: 0 0 2px 2px rgba(0, 0, 0, .6); box-shadow: 0 0 2px 2px rgba(0, 0, 0, .6); -webkit-clip-path: none; clip-path: none; }

/* Phark with Inline Image Method */
.ir-phark { overflow: hidden; white-space: nowrap; text-indent: -9999px; }

/* Vertical alignment */
.valign-parent { position: relative; }
.valign-top { position: absolute; top: 0; left: 50%; -webkit-transform: translate(-50%, 0); -moz-transform: translate(-50%, 0); -ms-transform: translate(-50%, 0); -o-transform: translate(-50%, 0); transform: translate(-50%, 0); }
.valign-center { position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); -moz-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); -o-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }
.valign-bottom { position: absolute; bottom: 0; left: 50%; -webkit-transform: translate(-50%, 0); -moz-transform: translate(-50%, 0); -ms-transform: translate(-50%, 0); -o-transform: translate(-50%, 0); transform: translate(-50%, 0); }

/*
Grid
 */
/* container */
.container { max-width: 1280px; margin-left: auto; margin-right: auto; padding-left: 10px; padding-right: 10px; }
.container:after { content: ""; display: table; clear: both; }

/* common */
.columns-wrapper { overflow: hidden; }
.columns { width: 100%; }
.columns:after { content: ''; display: table; clear: both; }
.column, [class*=column] { display: block; float: left; min-width: 1px; min-height: 1px; }

/* gutter */
.gutter-10 { margin: -5px; }
.gutter-10 > .column { padding: 5px; }
.gutter-10.columns { width: -webkit-calc(100% + 10px); width: -moz-calc(100% + 10px); width: calc(100% + 10px); }
.gutter-20 { margin: -10px; }
.gutter-20 > .column { padding: 10px; }
.gutter-20.columns { width: -webkit-calc(100% + 20px); width: -moz-calc(100% + 20px); width: calc(100% + 20px); }
.gutter-30 { margin: -15px; }
.gutter-30 > .column { padding: 15px; }
.gutter-30.columns { width: -webkit-calc(100% + 30px); width: -moz-calc(100% + 30px); width: calc(100% + 30px); }

/* column */
.column-1 { width: 8.333333333333334%; width: -webkit-calc(100% / 12 * 1); width: -moz-calc(100% / 12 * 1); width: calc(100% / 12 * 1); }
.column-2 { width: 16.666666666666668%; width: -webkit-calc(100% / 12 * 2); width: -moz-calc(100% / 12 * 2); width: calc(100% / 12 * 2); }
.column-3 { width: 25%; width: -webkit-calc(100% / 12 * 3); width: -moz-calc(100% / 12 * 3); width: calc(100% / 12 * 3); }
.column-4 { width: 33.333333333333336%; width: -webkit-calc(100% / 12 * 4); width: -moz-calc(100% / 12 * 4); width: calc(100% / 12 * 4); }
.column-5 { width: 41.66666666666667%; width: -webkit-calc(100% / 12 * 5); width: -moz-calc(100% / 12 * 5); width: calc(100% / 12 * 5); }
.column-6 { width: 50%; width: -webkit-calc(100% / 12 * 6); width: -moz-calc(100% / 12 * 6); width: calc(100% / 12 * 6); }
.column-7 { width: 58.333333333333336%; width: -webkit-calc(100% / 12 * 7); width: -moz-calc(100% / 12 * 7); width: calc(100% / 12 * 7); }
.column-8 { width: 66.66666666666667%; width: -webkit-calc(100% / 12 * 8); width: -moz-calc(100% / 12 * 8); width: calc(100% / 12 * 8); }
.column-9 { width: 75%; width: -webkit-calc(100% / 12 * 9); width: -moz-calc(100% / 12 * 9); width: calc(100% / 12 * 9); }
.column-10 { width: 83.33333333333334%; width: -webkit-calc(100% / 12 * 10); width: -moz-calc(100% / 12 * 10); width: calc(100% / 12 * 10); }
.column-11 { width: 91.66666666666667%; width: -webkit-calc(100% / 12 * 11); width: -moz-calc(100% / 12 * 11); width: calc(100% / 12 * 11); }
.column-12 { width: 100%; width: -webkit-calc(100% / 12 * 12); width: -moz-calc(100% / 12 * 12); width: calc(100% / 12 * 12); }

/* column-count */
.column-count-1 > .column { width: 100%; }
.column-count-1 > .column:nth-child(n) { clear: none; }
.column-count-1 > .column:nth-child(n+1) { clear: both; }
.column-count-2 > .column { width: 50%; width: -webkit-calc(100% / 2); width: -moz-calc(100% / 2); width: calc(100% / 2); }
.column-count-2 > .column:nth-child(n) { clear: none; }
.column-count-2 > .column:nth-child(2n+1) { clear: both; }
.column-count-3 > .column { width: 33.333333333333%; width: -webkit-calc(100% / 3); width: -moz-calc(100% / 3); width: calc(100% / 3); }
.column-count-3 > .column:nth-child(n) { clear: none; }
.column-count-3 > .column:nth-child(3n+1) { clear: both; }
.column-count-4 > .column { width: 25%; width: -webkit-calc(100% / 4); width: -moz-calc(100% / 4); width: calc(100% / 4); }
.column-count-4 > .column:nth-child(n) { clear: none; }
.column-count-4 > .column:nth-child(4n+1) { clear: both; }
.column-count-5 > .column { width: 20%; width: -webkit-calc(100% / 5); width: -moz-calc(100% / 5); width: calc(100% / 5); }
.column-count-5 > .column:nth-child(n) { clear: none; }
.column-count-5 > .column:nth-child(5n+1) { clear: both; }
.column-count-6 > .column { width: 16.666666666667%; width: -webkit-calc(100% / 6); width: -moz-calc(100% / 6); width: calc(100% / 6); }
.column-count-6 > .column:nth-child(n) { clear: none; }
.column-count-6 > .column:nth-child(6n+1) { clear: both; }
.column-count-7 > .column { width: 14.285714285714%; width: -webkit-calc(100% / 7); width: -moz-calc(100% / 7); width: calc(100% / 7); }
.column-count-7 > .column:nth-child(n) { clear: none; }
.column-count-7 > .column:nth-child(7n+1) { clear: both; }
.column-count-8 > .column { width: 12.5%; width: -webkit-calc(100% / 8); width: -moz-calc(100% / 8); width: calc(100% / 8); }
.column-count-8 > .column:nth-child(n) { clear: none; }
.column-count-8 > .column:nth-child(8n+1) { clear: both; }
.column-count-9 > .column { width: 11.111111111111%; width: -webkit-calc(100% / 9); width: -moz-calc(100% / 9); width: calc(100% / 9); }
.column-count-9 > .column:nth-child(n) { clear: none; }
.column-count-9 > .column:nth-child(9n+1) { clear: both; }
.column-count-10 > .column { width: 10%; width: -webkit-calc(100% / 10); width: -moz-calc(100% / 10); width: calc(100% / 10); }
.column-count-10 > .column:nth-child(n) { clear: none; }
.column-count-10 > .column:nth-child(10n+1) { clear: both; }
.column-count-11 > .column { width: 9.0909090909091%; width: -webkit-calc(100% / 11); width: -moz-calc(100% / 11); width: calc(100% / 11); }
.column-count-11 > .column:nth-child(n) { clear: none; }
.column-count-11 > .column:nth-child(11n+1) { clear: both; }
.column-count-12 > .column { width: 8.3333333333333%; width: -webkit-calc(100% / 12); width: -moz-calc(100% / 12); width: calc(100% / 12); }
.column-count-12 > .column:nth-child(n) { clear: none; }
.column-count-12 > .column:nth-child(12n+1) { clear: both; }

/* Tablet */
@media (max-width:1023px) {

    /* tablet-gutter */
    .tablet-gutter-10 { margin: -5px; }
    .tablet-gutter-10 > .column { padding: 5px; }
    .tablet-gutter-10.columns { width: -webkit-calc(100% + 10px); width: -moz-calc(100% + 10px); width: calc(100% + 10px); }
    .tablet-gutter-20 { margin: -10px; }
    .tablet-gutter-20 > .column { padding: 10px; }
    .tablet-gutter-20.columns { width: -webkit-calc(100% + 20px); width: -moz-calc(100% + 20px); width: calc(100% + 20px); }
    .tablet-gutter-30 { margin: -15px; }
    .tablet-gutter-30 > .column { padding: 15px; }
    .tablet-gutter-30.columns { width: -webkit-calc(100% + 30px); width: -moz-calc(100% + 30px); width: calc(100% + 30px); }

    /* tablet-column */
    .tablet-column-1 { width: 8.333333333333334%; width: -webkit-calc(100% / 12 * 1); width: -moz-calc(100% / 12 * 1); width: calc(100% / 12 * 1); }
    .tablet-column-2 { width: 16.666666666666668%; width: -webkit-calc(100% / 12 * 2); width: -moz-calc(100% / 12 * 2); width: calc(100% / 12 * 2); }
    .tablet-column-3 { width: 25%; width: -webkit-calc(100% / 12 * 3); width: -moz-calc(100% / 12 * 3); width: calc(100% / 12 * 3); }
    .tablet-column-4 { width: 33.333333333333336%; width: -webkit-calc(100% / 12 * 4); width: -moz-calc(100% / 12 * 4); width: calc(100% / 12 * 4); }
    .tablet-column-5 { width: 41.66666666666667%; width: -webkit-calc(100% / 12 * 5); width: -moz-calc(100% / 12 * 5); width: calc(100% / 12 * 5); }
    .tablet-column-6 { width: 50%; width: -webkit-calc(100% / 12 * 6); width: -moz-calc(100% / 12 * 6); width: calc(100% / 12 * 6); }
    .tablet-column-7 { width: 58.333333333333336%; width: -webkit-calc(100% / 12 * 7); width: -moz-calc(100% / 12 * 7); width: calc(100% / 12 * 7); }
    .tablet-column-8 { width: 66.66666666666667%; width: -webkit-calc(100% / 12 * 8); width: -moz-calc(100% / 12 * 8); width: calc(100% / 12 * 8); }
    .tablet-column-9 { width: 75%; width: -webkit-calc(100% / 12 * 9); width: -moz-calc(100% / 12 * 9); width: calc(100% / 12 * 9); }
    .tablet-column-10 { width: 83.33333333333334%; width: -webkit-calc(100% / 12 * 10); width: -moz-calc(100% / 12 * 10); width: calc(100% / 12 * 10); }
    .tablet-column-11 { width: 91.66666666666667%; width: -webkit-calc(100% / 12 * 11); width: -moz-calc(100% / 12 * 11); width: calc(100% / 12 * 11); }
    .tablet-column-12 { width: 100%; width: -webkit-calc(100% / 12 * 12); width: -moz-calc(100% / 12 * 12); width: calc(100% / 12 * 12); }

    /* tablet-column-count */
    .tablet-column-count-1 > .column { width: 100%; }
    .tablet-column-count-1 > .column:nth-child(n) { clear: none; }
    .tablet-column-count-1 > .column:nth-child(n+1) { clear: both; }
    .tablet-column-count-2 > .column { width: 50%; width: -webkit-calc(100% / 2); width: -moz-calc(100% / 2); width: calc(100% / 2); }
    .tablet-column-count-2 > .column:nth-child(n) { clear: none; }
    .tablet-column-count-2 > .column:nth-child(2n+1) { clear: both; }
    .tablet-column-count-3 > .column { width: 33.333333333333%; width: -webkit-calc(100% / 3); width: -moz-calc(100% / 3); width: calc(100% / 3); }
    .tablet-column-count-3 > .column:nth-child(n) { clear: none; }
    .tablet-column-count-3 > .column:nth-child(3n+1) { clear: both; }
    .tablet-column-count-4 > .column { width: 25%; width: -webkit-calc(100% / 4); width: -moz-calc(100% / 4); width: calc(100% / 4); }
    .tablet-column-count-4 > .column:nth-child(n) { clear: none; }
    .tablet-column-count-4 > .column:nth-child(4n+1) { clear: both; }
    .tablet-column-count-5 > .column { width: 20%; width: -webkit-calc(100% / 5); width: -moz-calc(100% / 5); width: calc(100% / 5); }
    .tablet-column-count-5 > .column:nth-child(n) { clear: none; }
    .tablet-column-count-5 > .column:nth-child(5n+1) { clear: both; }
    .tablet-column-count-6 > .column { width: 16.666666666667%; width: -webkit-calc(100% / 6); width: -moz-calc(100% / 6); width: calc(100% / 6); }
    .tablet-column-count-6 > .column:nth-child(n) { clear: none; }
    .tablet-column-count-6 > .column:nth-child(6n+1) { clear: both; }
    .tablet-column-count-7 > .column { width: 14.285714285714%; width: -webkit-calc(100% / 7); width: -moz-calc(100% / 7); width: calc(100% / 7); }
    .tablet-column-count-7 > .column:nth-child(n) { clear: none; }
    .tablet-column-count-7 > .column:nth-child(7n+1) { clear: both; }
    .tablet-column-count-8 > .column { width: 12.5%; width: -webkit-calc(100% / 8); width: -moz-calc(100% / 8); width: calc(100% / 8); }
    .tablet-column-count-8 > .column:nth-child(n) { clear: none; }
    .tablet-column-count-8 > .column:nth-child(8n+1) { clear: both; }
    .tablet-column-count-9 > .column { width: 11.111111111111%; width: -webkit-calc(100% / 9); width: -moz-calc(100% / 9); width: calc(100% / 9); }
    .tablet-column-count-9 > .column:nth-child(n) { clear: none; }
    .tablet-column-count-9 > .column:nth-child(9n+1) { clear: both; }
    .tablet-column-count-10 > .column { width: 10%; width: -webkit-calc(100% / 10); width: -moz-calc(100% / 10); width: calc(100% / 10); }
    .tablet-column-count-10 > .column:nth-child(n) { clear: none; }
    .tablet-column-count-10 > .column:nth-child(10n+1) { clear: both; }
    .tablet-column-count-11 > .column { width: 9.0909090909091%; width: -webkit-calc(100% / 11); width: -moz-calc(100% / 11); width: calc(100% / 11); }
    .tablet-column-count-11 > .column:nth-child(n) { clear: none; }
    .tablet-column-count-11 > .column:nth-child(11n+1) { clear: both; }
    .tablet-column-count-12 > .column { width: 8.3333333333333%; width: -webkit-calc(100% / 12); width: -moz-calc(100% / 12); width: calc(100% / 12); }
    .tablet-column-count-12 > .column:nth-child(n) { clear: none; }
    .tablet-column-count-12 > .column:nth-child(12n+1) { clear: both; }
}

/* Mobile */
@media (max-width:767px) {

    /* mobile-gutter */
    .mobile-gutter-10 { margin: -5px; }
    .mobile-gutter-10 > .column { padding: 5px; }
    .mobile-gutter-10.columns { width: -webkit-calc(100% + 10px); width: -moz-calc(100% + 10px); width: calc(100% + 10px); }
    .mobile-gutter-20 { margin: -10px; }
    .mobile-gutter-20 > .column { padding: 10px; }
    .mobile-gutter-20.columns { width: -webkit-calc(100% + 20px); width: -moz-calc(100% + 20px); width: calc(100% + 20px); }
    .mobile-gutter-30 { margin: -15px; }
    .mobile-gutter-30 > .column { padding: 15px; }
    .mobile-gutter-30.columns { width: -webkit-calc(100% + 30px); width: -moz-calc(100% + 30px); width: calc(100% + 30px); }

    /* mobile-column */
    .mobile-column-1 { width: 8.333333333333334%; width: -webkit-calc(100% / 12 * 1); width: -moz-calc(100% / 12 * 1); width: calc(100% / 12 * 1); }
    .mobile-column-2 { width: 16.666666666666668%; width: -webkit-calc(100% / 12 * 2); width: -moz-calc(100% / 12 * 2); width: calc(100% / 12 * 2); }
    .mobile-column-3 { width: 25%; width: -webkit-calc(100% / 12 * 3); width: -moz-calc(100% / 12 * 3); width: calc(100% / 12 * 3); }
    .mobile-column-4 { width: 33.333333333333336%; width: -webkit-calc(100% / 12 * 4); width: -moz-calc(100% / 12 * 4); width: calc(100% / 12 * 4); }
    .mobile-column-5 { width: 41.66666666666667%; width: -webkit-calc(100% / 12 * 5); width: -moz-calc(100% / 12 * 5); width: calc(100% / 12 * 5); }
    .mobile-column-6 { width: 50%; width: -webkit-calc(100% / 12 * 6); width: -moz-calc(100% / 12 * 6); width: calc(100% / 12 * 6); }
    .mobile-column-7 { width: 58.333333333333336%; width: -webkit-calc(100% / 12 * 7); width: -moz-calc(100% / 12 * 7); width: calc(100% / 12 * 7); }
    .mobile-column-8 { width: 66.66666666666667%; width: -webkit-calc(100% / 12 * 8); width: -moz-calc(100% / 12 * 8); width: calc(100% / 12 * 8); }
    .mobile-column-9 { width: 75%; width: -webkit-calc(100% / 12 * 9); width: -moz-calc(100% / 12 * 9); width: calc(100% / 12 * 9); }
    .mobile-column-10 { width: 83.33333333333334%; width: -webkit-calc(100% / 12 * 10); width: -moz-calc(100% / 12 * 10); width: calc(100% / 12 * 10); }
    .mobile-column-11 { width: 91.66666666666667%; width: -webkit-calc(100% / 12 * 11); width: -moz-calc(100% / 12 * 11); width: calc(100% / 12 * 11); }
    .mobile-column-12 { width: 100%; width: -webkit-calc(100% / 12 * 12); width: -moz-calc(100% / 12 * 12); width: calc(100% / 12 * 12); }

    /* mobile-column-count */
    .mobile-column-count-1 > .column { width: 100%; }
    .mobile-column-count-1 > .column:nth-child(n) { clear: none; }
    .mobile-column-count-1 > .column:nth-child(n+1) { clear: both; }
    .mobile-column-count-2 > .column { width: 50%; width: -webkit-calc(100% / 2); width: -moz-calc(100% / 2); width: calc(100% / 2); }
    .mobile-column-count-2 > .column:nth-child(n) { clear: none; }
    .mobile-column-count-2 > .column:nth-child(2n+1) { clear: both; }
    .mobile-column-count-3 > .column { width: 33.333333333333%; width: -webkit-calc(100% / 3); width: -moz-calc(100% / 3); width: calc(100% / 3); }
    .mobile-column-count-3 > .column:nth-child(n) { clear: none; }
    .mobile-column-count-3 > .column:nth-child(3n+1) { clear: both; }
    .mobile-column-count-4 > .column { width: 25%; width: -webkit-calc(100% / 4); width: -moz-calc(100% / 4); width: calc(100% / 4); }
    .mobile-column-count-4 > .column:nth-child(n) { clear: none; }
    .mobile-column-count-4 > .column:nth-child(4n+1) { clear: both; }
    .mobile-column-count-5 > .column { width: 20%; width: -webkit-calc(100% / 5); width: -moz-calc(100% / 5); width: calc(100% / 5); }
    .mobile-column-count-5 > .column:nth-child(n) { clear: none; }
    .mobile-column-count-5 > .column:nth-child(5n+1) { clear: both; }
    .mobile-column-count-6 > .column { width: 16.666666666667%; width: -webkit-calc(100% / 6); width: -moz-calc(100% / 6); width: calc(100% / 6); }
    .mobile-column-count-6 > .column:nth-child(n) { clear: none; }
    .mobile-column-count-6 > .column:nth-child(6n+1) { clear: both; }
    .mobile-column-count-7 > .column { width: 14.285714285714%; width: -webkit-calc(100% / 7); width: -moz-calc(100% / 7); width: calc(100% / 7); }
    .mobile-column-count-7 > .column:nth-child(n) { clear: none; }
    .mobile-column-count-7 > .column:nth-child(7n+1) { clear: both; }
    .mobile-column-count-8 > .column { width: 12.5%; width: -webkit-calc(100% / 8); width: -moz-calc(100% / 8); width: calc(100% / 8); }
    .mobile-column-count-8 > .column:nth-child(n) { clear: none; }
    .mobile-column-count-8 > .column:nth-child(8n+1) { clear: both; }
    .mobile-column-count-9 > .column { width: 11.111111111111%; width: -webkit-calc(100% / 9); width: -moz-calc(100% / 9); width: calc(100% / 9); }
    .mobile-column-count-9 > .column:nth-child(n) { clear: none; }
    .mobile-column-count-9 > .column:nth-child(9n+1) { clear: both; }
    .mobile-column-count-10 > .column { width: 10%; width: -webkit-calc(100% / 10); width: -moz-calc(100% / 10); width: calc(100% / 10); }
    .mobile-column-count-10 > .column:nth-child(n) { clear: none; }
    .mobile-column-count-10 > .column:nth-child(10n+1) { clear: both; }
    .mobile-column-count-11 > .column { width: 9.0909090909091%; width: -webkit-calc(100% / 11); width: -moz-calc(100% / 11); width: calc(100% / 11); }
    .mobile-column-count-11 > .column:nth-child(n) { clear: none; }
    .mobile-column-count-11 > .column:nth-child(11n+1) { clear: both; }
    .mobile-column-count-12 > .column { width: 8.3333333333333%; width: -webkit-calc(100% / 12); width: -moz-calc(100% / 12); width: calc(100% / 12); }
    .mobile-column-count-12 > .column:nth-child(n) { clear: none; }
    .mobile-column-count-12 > .column:nth-child(12n+1) { clear: both; }
}

/* 
main 
*/
/* typography */
body { font-family: 'Noto Sans', sans-serif; font-weight: 200; }
h1, h2, h3, h4, h5, h6 { font-weight: 700; line-height: 1.2; }
h2, h3 { text-align: center; }
h1, .display-1 { font-size: 12rem; }
h2, .display-2 { font-size: 9rem; margin-bottom: 1.6rem; font-weight: 900; }
h3, .display-3 { font-size: 4rem; margin-bottom: 1rem; font-weight: 700; }
h4, .display-4 { font-size: 3rem; }
h5, .display-5 { font-size: 2rem; }
h6, .display-6 { font-size: 1rem; }
b { color: #ff8602; }
strong { font-weight: 700; color: #ff8602; }
hr { border: 0; width: 100%; height: 1px; background: #eee; margin: 0; }
pre { font-weight: 400; margin-bottom: 5rem; }

/* NotoSans */
.noto-sans { font-family: 'Noto Sans', sans-serif; }
.noto-sans-cjk-sc { font-family: 'Noto Sans CJK SC', sans-serif; }
.noto-sans-cjk-tc { font-family: 'Noto Sans CJK TC', sans-serif; }
.noto-sans-cjk-jp { font-family: 'Noto Sans CJK JP', sans-serif; }
.noto-sans-cjk-kr { font-family: 'Noto Sans CJK KR', sans-serif; }

/* NotoSerif */
.noto-serif { font-family: 'Noto Serif', serif; }
.noto-serif-cjk-sc { font-family: 'Noto Serif CJK SC', serif; }
.noto-serif-cjk-tc { font-family: 'Noto Serif CJK TC', serif; }
.noto-serif-cjk-jp { font-family: 'Noto Serif CJK JP', serif; }
.noto-serif-cjk-kr { font-family: 'Noto Serif CJK KR', serif; }

/* display */
.display-thin { font-size: 1rem; font-weight: 100; }
.display-light { font-size: 1.5rem; font-weight: 300; }
.display-regular { font-size: 2rem; font-weight: 400; }
.display-medium { font-size: 2.5rem; font-weight: 500; }
.display-bold { font-size: 2rem; font-weight: 700; }
.display-black { font-size: 3.5rem; font-weight: 900; }

/* navigation */
.site-header { position: fixed; top: 0; left: 0; width: 100%; background: #fff; border-bottom: 1px solid #eee; }
.site-title { font-size: 2rem; float: left; padding: 15px 0; font-weight: 900; }
.site-navigation { float: right; margin-right: -10px; }
.site-menu { }
.site-menu:after { content: ""; display: table; clear: both; }
.site-menu li { float: left; }
.site-menu li.mobile-bar { display: none; width: 100%; height: 1px; background: #eee; }
.site-menu a { display: block; padding: 15px 10px; }

/* menu-bottom */
.site-menu-button { display: none; width: 30px; height: 30px; position: fixed; top: 10px; right: 10px; z-index: 1001; }
.site-menu-button .bar { margin: 0 auto; position: relative; top: 12px; }
.site-menu-button .bar-1, .site-menu-button .bar-3 { position: absolute; content: ''; }
.site-menu-button .bar, .site-menu-button .bar-1, .site-menu-button .bar-3 { width: 30px; height: 6px; background-color: #000; display: block; }
.site-menu-button .bar-1 { margin-top: -10px; }
.site-menu-button .bar-3 { margin-top: 10px; }

/* menu-bottom animation */
.site-menu-button .bar { -webkit-transition-duration: 0s; -moz-transition-duration: 0s; -o-transition-duration: 0s; transition-duration: 0s; -webkit-transition-delay: 0.2s; -moz-transition-delay: 0.2s; -o-transition-delay: 0.2s; transition-delay: 0.2s; }
.site-menu-button .bar-1, .site-menu-button .bar-3 { -webkit-transition-property: margin, -webkit-transform; transition-property: margin, -webkit-transform; -o-transition-property: margin, -o-transform; -moz-transition-property: margin, transform, -moz-transform; transition-property: margin, transform; transition-property: margin, transform, -webkit-transform, -moz-transform, -o-transform; -webkit-transition-duration: 0.2s; -moz-transition-duration: 0.2s; -o-transition-duration: 0.2s; transition-duration: 0.2s; -webkit-transition-delay: 0.2s, 0s; -moz-transition-delay: 0.2s, 0s; -o-transition-delay: 0.2s, 0s; transition-delay: 0.2s, 0s; }
.site-menu-open .site-menu-button .bar-2 { background-color: rgba(0, 0, 0, 0.0); -webkit-transition-delay: 0.2s; -moz-transition-delay: 0.2s; -o-transition-delay: 0.2s; transition-delay: 0.2s; }
.site-menu-open .site-menu-button .bar-1 { margin-top: 0; -webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); -ms-transform: rotate(45deg); -o-transform: rotate(45deg); transform: rotate(45deg); -webkit-transition-delay: 0s, 0.2s; -moz-transition-delay: 0s, 0.2s; -o-transition-delay: 0s, 0.2s; transition-delay: 0s, 0.2s; }
.site-menu-open .site-menu-button .bar-3 { margin-top: 0; -webkit-transform: rotate(-45deg); -moz-transform: rotate(-45deg); -ms-transform: rotate(-45deg); -o-transform: rotate(-45deg); transform: rotate(-45deg); -webkit-transition-delay: 0s, 0.2s; -moz-transition-delay: 0s, 0.2s; -o-transition-delay: 0s, 0.2s; transition-delay: 0s, 0.2s; }

/* hero */
.hero-content { min-height: 100vh; display: -webkit-box; display: -webkit-flex; display: -moz-box; display: -ms-flexbox; display: flex; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: center; -webkit-justify-content: center; -moz-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-align-content: center; -ms-flex-line-pack: center; align-content: center; }
.hero-heading { }
.hero-description { margin-bottom: 3rem; }
.hero-description span { word-break: break-all; }

/* section */
section { width:100%; padding: 6rem 0; min-height: 100vh; display: -webkit-box; display: -webkit-flex; display: -moz-box; display: -ms-flexbox; display: flex; -webkit-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: center; -webkit-justify-content: center; -moz-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-align-content: center; -ms-flex-line-pack: center; align-content: center; background: #fff; }
section:nth-of-type(odd) { background: #f6f6f6; }
.section-heading { }
.section-description { margin-bottom: 3rem; text-align: center; }
.section-description:not(:empty) { }

/* table */
.responsive-table { overflow-x: auto; }
.table { width: 620px; white-space: nowrap; margin: auto; text-align: center; }
.table th, .table td { padding: 10px; }
.table th { font-weight: 700; }
.table th:first-child { border-right: 1px solid #444; }
.table td { }
.table thead th { border-top: 2px solid #444; border-bottom: 2px solid #444; }
.table tbody th, .table tbody td { border-bottom: 1px solid #444; }
.table.has-total tbody tr:last-child th, .table.has-total tbody tr:last-child td { font-weight: 700; border-top: 2px solid #444; border-bottom: 2px solid #444; }
.table tbody th { }
.table tbody td { }

/* footer */
footer { text-align: center; padding: 15px 0; border-top: 1px solid #eee; font-size: 1.2rem; }

/* 
responsive 
*/
@media (max-width:767px) {

    /* layout */
    .column { width: 100%; }
    .mobile-display-block { display: block; }
    .mobile-display-hidden { display: none; }

    /* typography */
    h2, .display-2 { font-size: 4rem; }
    h3, .display-3 { font-size: 3rem; }

    /* navigation */
    .site-title { float: none; text-align: center; position: relative; z-index: 1000; background: #fff; }
    .site-navigation {float: none;width: 100%;margin: 0;border-bottom: 1px solid #eee;background: #fff;top: 0;left: 0;position: absolute;-webkit-transform: translateY(-100%);-moz-transform: translateY(-100%);-ms-transform: translateY(-100%);-o-transform: translateY(-100%);transform: translateY(-100%);-webkit-transition: -webkit-transform 0.3s ease;transition: -webkit-transform 0.3s ease;-o-transition: -o-transform 0.3s ease;-moz-transition: transform 0.3s ease, -moz-transform 0.3s ease;transition: transform 0.3s ease;transition: transform 0.3s ease, -webkit-transform 0.3s ease, -moz-transform 0.3s ease, -o-transform 0.3s ease;z-index: 999;}
    .site-menu { text-align: center; }
    .site-menu li { display: inline-block; float: none; }
    .site-menu li.mobile-bar{display:block;}
    .site-menu a {}
    .site-menu-open .site-navigation {-webkit-transform: translateY(55px);-moz-transform: translateY(55px);-ms-transform: translateY(55px);-o-transform: translateY(55px);transform: translateY(55px);}
    .site-menu-button { display: block; }

    /* section */
    .section-description br { display: none; }
}
