/* container */
.container { max-width: 1280px; margin-left: auto; margin-right: auto; padding-left: 10px; padding-right: 10px; }
.container:after { content: ""; display: table; clear: both; }

/* common */
.columns-wrapper { overflow: hidden; }
.columns { width: 100%; }
.columns:after { content: ''; display: table; clear: both; }
.column, [class*=column] { display: block; float: left; min-width: 1px; min-height: 1px; }

/* gutter */
.gutter-10 { margin: -5px; }
.gutter-10 > .column { padding: 5px; }
.gutter-10.columns { width: -webkit-calc(100% + 10px); width: -moz-calc(100% + 10px); width: calc(100% + 10px); }
.gutter-20 { margin: -10px; }
.gutter-20 > .column { padding: 10px; }
.gutter-20.columns { width: -webkit-calc(100% + 20px); width: -moz-calc(100% + 20px); width: calc(100% + 20px); }
.gutter-30 { margin: -15px; }
.gutter-30 > .column { padding: 15px; }
.gutter-30.columns { width: -webkit-calc(100% + 30px); width: -moz-calc(100% + 30px); width: calc(100% + 30px); }

/* column */
.column-1 { width: 8.333333333333334%; width: -webkit-calc(100% / 12 * 1); width: -moz-calc(100% / 12 * 1); width: calc(100% / 12 * 1); }
.column-2 { width: 16.666666666666668%; width: -webkit-calc(100% / 12 * 2); width: -moz-calc(100% / 12 * 2); width: calc(100% / 12 * 2); }
.column-3 { width: 25%; width: -webkit-calc(100% / 12 * 3); width: -moz-calc(100% / 12 * 3); width: calc(100% / 12 * 3); }
.column-4 { width: 33.333333333333336%; width: -webkit-calc(100% / 12 * 4); width: -moz-calc(100% / 12 * 4); width: calc(100% / 12 * 4); }
.column-5 { width: 41.66666666666667%; width: -webkit-calc(100% / 12 * 5); width: -moz-calc(100% / 12 * 5); width: calc(100% / 12 * 5); }
.column-6 { width: 50%; width: -webkit-calc(100% / 12 * 6); width: -moz-calc(100% / 12 * 6); width: calc(100% / 12 * 6); }
.column-7 { width: 58.333333333333336%; width: -webkit-calc(100% / 12 * 7); width: -moz-calc(100% / 12 * 7); width: calc(100% / 12 * 7); }
.column-8 { width: 66.66666666666667%; width: -webkit-calc(100% / 12 * 8); width: -moz-calc(100% / 12 * 8); width: calc(100% / 12 * 8); }
.column-9 { width: 75%; width: -webkit-calc(100% / 12 * 9); width: -moz-calc(100% / 12 * 9); width: calc(100% / 12 * 9); }
.column-10 { width: 83.33333333333334%; width: -webkit-calc(100% / 12 * 10); width: -moz-calc(100% / 12 * 10); width: calc(100% / 12 * 10); }
.column-11 { width: 91.66666666666667%; width: -webkit-calc(100% / 12 * 11); width: -moz-calc(100% / 12 * 11); width: calc(100% / 12 * 11); }
.column-12 { width: 100%; width: -webkit-calc(100% / 12 * 12); width: -moz-calc(100% / 12 * 12); width: calc(100% / 12 * 12); }

/* column-count */
.column-count-1 > .column { width: 100%; }
.column-count-1 > .column:nth-child(n) { clear: none; }
.column-count-1 > .column:nth-child(n+1) { clear: both; }
.column-count-2 > .column { width: 50%; width: -webkit-calc(100% / 2); width: -moz-calc(100% / 2); width: calc(100% / 2); }
.column-count-2 > .column:nth-child(n) { clear: none; }
.column-count-2 > .column:nth-child(2n+1) { clear: both; }
.column-count-3 > .column { width: 33.333333333333%; width: -webkit-calc(100% / 3); width: -moz-calc(100% / 3); width: calc(100% / 3); }
.column-count-3 > .column:nth-child(n) { clear: none; }
.column-count-3 > .column:nth-child(3n+1) { clear: both; }
.column-count-4 > .column { width: 25%; width: -webkit-calc(100% / 4); width: -moz-calc(100% / 4); width: calc(100% / 4); }
.column-count-4 > .column:nth-child(n) { clear: none; }
.column-count-4 > .column:nth-child(4n+1) { clear: both; }
.column-count-5 > .column { width: 20%; width: -webkit-calc(100% / 5); width: -moz-calc(100% / 5); width: calc(100% / 5); }
.column-count-5 > .column:nth-child(n) { clear: none; }
.column-count-5 > .column:nth-child(5n+1) { clear: both; }
.column-count-6 > .column { width: 16.666666666667%; width: -webkit-calc(100% / 6); width: -moz-calc(100% / 6); width: calc(100% / 6); }
.column-count-6 > .column:nth-child(n) { clear: none; }
.column-count-6 > .column:nth-child(6n+1) { clear: both; }
.column-count-7 > .column { width: 14.285714285714%; width: -webkit-calc(100% / 7); width: -moz-calc(100% / 7); width: calc(100% / 7); }
.column-count-7 > .column:nth-child(n) { clear: none; }
.column-count-7 > .column:nth-child(7n+1) { clear: both; }
.column-count-8 > .column { width: 12.5%; width: -webkit-calc(100% / 8); width: -moz-calc(100% / 8); width: calc(100% / 8); }
.column-count-8 > .column:nth-child(n) { clear: none; }
.column-count-8 > .column:nth-child(8n+1) { clear: both; }
.column-count-9 > .column { width: 11.111111111111%; width: -webkit-calc(100% / 9); width: -moz-calc(100% / 9); width: calc(100% / 9); }
.column-count-9 > .column:nth-child(n) { clear: none; }
.column-count-9 > .column:nth-child(9n+1) { clear: both; }
.column-count-10 > .column { width: 10%; width: -webkit-calc(100% / 10); width: -moz-calc(100% / 10); width: calc(100% / 10); }
.column-count-10 > .column:nth-child(n) { clear: none; }
.column-count-10 > .column:nth-child(10n+1) { clear: both; }
.column-count-11 > .column { width: 9.0909090909091%; width: -webkit-calc(100% / 11); width: -moz-calc(100% / 11); width: calc(100% / 11); }
.column-count-11 > .column:nth-child(n) { clear: none; }
.column-count-11 > .column:nth-child(11n+1) { clear: both; }
.column-count-12 > .column { width: 8.3333333333333%; width: -webkit-calc(100% / 12); width: -moz-calc(100% / 12); width: calc(100% / 12); }
.column-count-12 > .column:nth-child(n) { clear: none; }
.column-count-12 > .column:nth-child(12n+1) { clear: both; }

/* Tablet */
@media (max-width:1023px) {

    /* tablet-gutter */
    .tablet-gutter-10 { margin: -5px; }
    .tablet-gutter-10 > .column { padding: 5px; }
    .tablet-gutter-10.columns { width: -webkit-calc(100% + 10px); width: -moz-calc(100% + 10px); width: calc(100% + 10px); }
    .tablet-gutter-20 { margin: -10px; }
    .tablet-gutter-20 > .column { padding: 10px; }
    .tablet-gutter-20.columns { width: -webkit-calc(100% + 20px); width: -moz-calc(100% + 20px); width: calc(100% + 20px); }
    .tablet-gutter-30 { margin: -15px; }
    .tablet-gutter-30 > .column { padding: 15px; }
    .tablet-gutter-30.columns { width: -webkit-calc(100% + 30px); width: -moz-calc(100% + 30px); width: calc(100% + 30px); }

    /* tablet-column */
    .tablet-column-1 { width: 8.333333333333334%; width: -webkit-calc(100% / 12 * 1); width: -moz-calc(100% / 12 * 1); width: calc(100% / 12 * 1); }
    .tablet-column-2 { width: 16.666666666666668%; width: -webkit-calc(100% / 12 * 2); width: -moz-calc(100% / 12 * 2); width: calc(100% / 12 * 2); }
    .tablet-column-3 { width: 25%; width: -webkit-calc(100% / 12 * 3); width: -moz-calc(100% / 12 * 3); width: calc(100% / 12 * 3); }
    .tablet-column-4 { width: 33.333333333333336%; width: -webkit-calc(100% / 12 * 4); width: -moz-calc(100% / 12 * 4); width: calc(100% / 12 * 4); }
    .tablet-column-5 { width: 41.66666666666667%; width: -webkit-calc(100% / 12 * 5); width: -moz-calc(100% / 12 * 5); width: calc(100% / 12 * 5); }
    .tablet-column-6 { width: 50%; width: -webkit-calc(100% / 12 * 6); width: -moz-calc(100% / 12 * 6); width: calc(100% / 12 * 6); }
    .tablet-column-7 { width: 58.333333333333336%; width: -webkit-calc(100% / 12 * 7); width: -moz-calc(100% / 12 * 7); width: calc(100% / 12 * 7); }
    .tablet-column-8 { width: 66.66666666666667%; width: -webkit-calc(100% / 12 * 8); width: -moz-calc(100% / 12 * 8); width: calc(100% / 12 * 8); }
    .tablet-column-9 { width: 75%; width: -webkit-calc(100% / 12 * 9); width: -moz-calc(100% / 12 * 9); width: calc(100% / 12 * 9); }
    .tablet-column-10 { width: 83.33333333333334%; width: -webkit-calc(100% / 12 * 10); width: -moz-calc(100% / 12 * 10); width: calc(100% / 12 * 10); }
    .tablet-column-11 { width: 91.66666666666667%; width: -webkit-calc(100% / 12 * 11); width: -moz-calc(100% / 12 * 11); width: calc(100% / 12 * 11); }
    .tablet-column-12 { width: 100%; width: -webkit-calc(100% / 12 * 12); width: -moz-calc(100% / 12 * 12); width: calc(100% / 12 * 12); }

    /* tablet-column-count */
    .tablet-column-count-1 > .column { width: 100%; }
    .tablet-column-count-1 > .column:nth-child(n) { clear: none; }
    .tablet-column-count-1 > .column:nth-child(n+1) { clear: both; }
    .tablet-column-count-2 > .column { width: 50%; width: -webkit-calc(100% / 2); width: -moz-calc(100% / 2); width: calc(100% / 2); }
    .tablet-column-count-2 > .column:nth-child(n) { clear: none; }
    .tablet-column-count-2 > .column:nth-child(2n+1) { clear: both; }
    .tablet-column-count-3 > .column { width: 33.333333333333%; width: -webkit-calc(100% / 3); width: -moz-calc(100% / 3); width: calc(100% / 3); }
    .tablet-column-count-3 > .column:nth-child(n) { clear: none; }
    .tablet-column-count-3 > .column:nth-child(3n+1) { clear: both; }
    .tablet-column-count-4 > .column { width: 25%; width: -webkit-calc(100% / 4); width: -moz-calc(100% / 4); width: calc(100% / 4); }
    .tablet-column-count-4 > .column:nth-child(n) { clear: none; }
    .tablet-column-count-4 > .column:nth-child(4n+1) { clear: both; }
    .tablet-column-count-5 > .column { width: 20%; width: -webkit-calc(100% / 5); width: -moz-calc(100% / 5); width: calc(100% / 5); }
    .tablet-column-count-5 > .column:nth-child(n) { clear: none; }
    .tablet-column-count-5 > .column:nth-child(5n+1) { clear: both; }
    .tablet-column-count-6 > .column { width: 16.666666666667%; width: -webkit-calc(100% / 6); width: -moz-calc(100% / 6); width: calc(100% / 6); }
    .tablet-column-count-6 > .column:nth-child(n) { clear: none; }
    .tablet-column-count-6 > .column:nth-child(6n+1) { clear: both; }
    .tablet-column-count-7 > .column { width: 14.285714285714%; width: -webkit-calc(100% / 7); width: -moz-calc(100% / 7); width: calc(100% / 7); }
    .tablet-column-count-7 > .column:nth-child(n) { clear: none; }
    .tablet-column-count-7 > .column:nth-child(7n+1) { clear: both; }
    .tablet-column-count-8 > .column { width: 12.5%; width: -webkit-calc(100% / 8); width: -moz-calc(100% / 8); width: calc(100% / 8); }
    .tablet-column-count-8 > .column:nth-child(n) { clear: none; }
    .tablet-column-count-8 > .column:nth-child(8n+1) { clear: both; }
    .tablet-column-count-9 > .column { width: 11.111111111111%; width: -webkit-calc(100% / 9); width: -moz-calc(100% / 9); width: calc(100% / 9); }
    .tablet-column-count-9 > .column:nth-child(n) { clear: none; }
    .tablet-column-count-9 > .column:nth-child(9n+1) { clear: both; }
    .tablet-column-count-10 > .column { width: 10%; width: -webkit-calc(100% / 10); width: -moz-calc(100% / 10); width: calc(100% / 10); }
    .tablet-column-count-10 > .column:nth-child(n) { clear: none; }
    .tablet-column-count-10 > .column:nth-child(10n+1) { clear: both; }
    .tablet-column-count-11 > .column { width: 9.0909090909091%; width: -webkit-calc(100% / 11); width: -moz-calc(100% / 11); width: calc(100% / 11); }
    .tablet-column-count-11 > .column:nth-child(n) { clear: none; }
    .tablet-column-count-11 > .column:nth-child(11n+1) { clear: both; }
    .tablet-column-count-12 > .column { width: 8.3333333333333%; width: -webkit-calc(100% / 12); width: -moz-calc(100% / 12); width: calc(100% / 12); }
    .tablet-column-count-12 > .column:nth-child(n) { clear: none; }
    .tablet-column-count-12 > .column:nth-child(12n+1) { clear: both; }
}

/* Mobile */
@media (max-width:767px) {

    /* mobile-gutter */
    .mobile-gutter-10 { margin: -5px; }
    .mobile-gutter-10 > .column { padding: 5px; }
    .mobile-gutter-10.columns { width: -webkit-calc(100% + 10px); width: -moz-calc(100% + 10px); width: calc(100% + 10px); }
    .mobile-gutter-20 { margin: -10px; }
    .mobile-gutter-20 > .column { padding: 10px; }
    .mobile-gutter-20.columns { width: -webkit-calc(100% + 20px); width: -moz-calc(100% + 20px); width: calc(100% + 20px); }
    .mobile-gutter-30 { margin: -15px; }
    .mobile-gutter-30 > .column { padding: 15px; }
    .mobile-gutter-30.columns { width: -webkit-calc(100% + 30px); width: -moz-calc(100% + 30px); width: calc(100% + 30px); }

    /* mobile-column */
    .mobile-column-1 { width: 8.333333333333334%; width: -webkit-calc(100% / 12 * 1); width: -moz-calc(100% / 12 * 1); width: calc(100% / 12 * 1); }
    .mobile-column-2 { width: 16.666666666666668%; width: -webkit-calc(100% / 12 * 2); width: -moz-calc(100% / 12 * 2); width: calc(100% / 12 * 2); }
    .mobile-column-3 { width: 25%; width: -webkit-calc(100% / 12 * 3); width: -moz-calc(100% / 12 * 3); width: calc(100% / 12 * 3); }
    .mobile-column-4 { width: 33.333333333333336%; width: -webkit-calc(100% / 12 * 4); width: -moz-calc(100% / 12 * 4); width: calc(100% / 12 * 4); }
    .mobile-column-5 { width: 41.66666666666667%; width: -webkit-calc(100% / 12 * 5); width: -moz-calc(100% / 12 * 5); width: calc(100% / 12 * 5); }
    .mobile-column-6 { width: 50%; width: -webkit-calc(100% / 12 * 6); width: -moz-calc(100% / 12 * 6); width: calc(100% / 12 * 6); }
    .mobile-column-7 { width: 58.333333333333336%; width: -webkit-calc(100% / 12 * 7); width: -moz-calc(100% / 12 * 7); width: calc(100% / 12 * 7); }
    .mobile-column-8 { width: 66.66666666666667%; width: -webkit-calc(100% / 12 * 8); width: -moz-calc(100% / 12 * 8); width: calc(100% / 12 * 8); }
    .mobile-column-9 { width: 75%; width: -webkit-calc(100% / 12 * 9); width: -moz-calc(100% / 12 * 9); width: calc(100% / 12 * 9); }
    .mobile-column-10 { width: 83.33333333333334%; width: -webkit-calc(100% / 12 * 10); width: -moz-calc(100% / 12 * 10); width: calc(100% / 12 * 10); }
    .mobile-column-11 { width: 91.66666666666667%; width: -webkit-calc(100% / 12 * 11); width: -moz-calc(100% / 12 * 11); width: calc(100% / 12 * 11); }
    .mobile-column-12 { width: 100%; width: -webkit-calc(100% / 12 * 12); width: -moz-calc(100% / 12 * 12); width: calc(100% / 12 * 12); }

    /* mobile-column-count */
    .mobile-column-count-1 > .column { width: 100%; }
    .mobile-column-count-1 > .column:nth-child(n) { clear: none; }
    .mobile-column-count-1 > .column:nth-child(n+1) { clear: both; }
    .mobile-column-count-2 > .column { width: 50%; width: -webkit-calc(100% / 2); width: -moz-calc(100% / 2); width: calc(100% / 2); }
    .mobile-column-count-2 > .column:nth-child(n) { clear: none; }
    .mobile-column-count-2 > .column:nth-child(2n+1) { clear: both; }
    .mobile-column-count-3 > .column { width: 33.333333333333%; width: -webkit-calc(100% / 3); width: -moz-calc(100% / 3); width: calc(100% / 3); }
    .mobile-column-count-3 > .column:nth-child(n) { clear: none; }
    .mobile-column-count-3 > .column:nth-child(3n+1) { clear: both; }
    .mobile-column-count-4 > .column { width: 25%; width: -webkit-calc(100% / 4); width: -moz-calc(100% / 4); width: calc(100% / 4); }
    .mobile-column-count-4 > .column:nth-child(n) { clear: none; }
    .mobile-column-count-4 > .column:nth-child(4n+1) { clear: both; }
    .mobile-column-count-5 > .column { width: 20%; width: -webkit-calc(100% / 5); width: -moz-calc(100% / 5); width: calc(100% / 5); }
    .mobile-column-count-5 > .column:nth-child(n) { clear: none; }
    .mobile-column-count-5 > .column:nth-child(5n+1) { clear: both; }
    .mobile-column-count-6 > .column { width: 16.666666666667%; width: -webkit-calc(100% / 6); width: -moz-calc(100% / 6); width: calc(100% / 6); }
    .mobile-column-count-6 > .column:nth-child(n) { clear: none; }
    .mobile-column-count-6 > .column:nth-child(6n+1) { clear: both; }
    .mobile-column-count-7 > .column { width: 14.285714285714%; width: -webkit-calc(100% / 7); width: -moz-calc(100% / 7); width: calc(100% / 7); }
    .mobile-column-count-7 > .column:nth-child(n) { clear: none; }
    .mobile-column-count-7 > .column:nth-child(7n+1) { clear: both; }
    .mobile-column-count-8 > .column { width: 12.5%; width: -webkit-calc(100% / 8); width: -moz-calc(100% / 8); width: calc(100% / 8); }
    .mobile-column-count-8 > .column:nth-child(n) { clear: none; }
    .mobile-column-count-8 > .column:nth-child(8n+1) { clear: both; }
    .mobile-column-count-9 > .column { width: 11.111111111111%; width: -webkit-calc(100% / 9); width: -moz-calc(100% / 9); width: calc(100% / 9); }
    .mobile-column-count-9 > .column:nth-child(n) { clear: none; }
    .mobile-column-count-9 > .column:nth-child(9n+1) { clear: both; }
    .mobile-column-count-10 > .column { width: 10%; width: -webkit-calc(100% / 10); width: -moz-calc(100% / 10); width: calc(100% / 10); }
    .mobile-column-count-10 > .column:nth-child(n) { clear: none; }
    .mobile-column-count-10 > .column:nth-child(10n+1) { clear: both; }
    .mobile-column-count-11 > .column { width: 9.0909090909091%; width: -webkit-calc(100% / 11); width: -moz-calc(100% / 11); width: calc(100% / 11); }
    .mobile-column-count-11 > .column:nth-child(n) { clear: none; }
    .mobile-column-count-11 > .column:nth-child(11n+1) { clear: both; }
    .mobile-column-count-12 > .column { width: 8.3333333333333%; width: -webkit-calc(100% / 12); width: -moz-calc(100% / 12); width: calc(100% / 12); }
    .mobile-column-count-12 > .column:nth-child(n) { clear: none; }
    .mobile-column-count-12 > .column:nth-child(12n+1) { clear: both; }
}