/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
html { font-size: 62.5%; line-height: 1; color: #222; }
body { font-size: 1.6rem; line-height: 1.6; font-weight: 200; }
ol, ul { list-style: none; }
ol ol, ul ul { margin-left: 1.5rem; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
table { border-collapse: collapse; border-spacing: 0; }
small { font-size: 80%; }

/* Form Default style */
input, textarea, button, select, option, optgroup { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; font-size: 1.6rem; line-height: 1.6; color: #222; }

/* Remove tap highlight color */
body, textarea:focus, input:focus, a:focus { -webkit-tap-highlight-color: rgba(0, 0, 0, 0); outline: none; }

/* Fixed text size for ios */
html { -ms-text-size-adjust: none; -webkit-text-size-adjust: none; -moz-text-size-adjust: none; text-size-adjust: none; }

/* Make sure embeds and iframes fit their containers. */
embed, iframe, object { max-width: 100%; }

/* Reset mobile default style */
input, textarea { -webkit-appearance: none; -webkit-border-radius: 0px; -moz-border-radius: 0px; border-radius: 0px; }

/* Create a responsive image */
img { max-width: 100%; height: auto; }

/* Link text */
a { text-decoration: none; word-break: break-all; color: #222; }
a:hover, a:focus, a:active { outline: 0; color: #ffb302; text-decoration: underline; }

/* Change selection color */
::-moz-selection { background: #FFDF01; background: rgba(255, 223, 1, 0.3); }
::selection { background: #FFDF01; background: rgba(255, 223, 1, 0.3); }

/* Do not show the outline on the skip link target. */
#page-content[tabindex='-1']:focus { outline: 0; }

/* Fixed overflow scrolling */
.site { overflow: hidden; }

/* Fixed scrolling issue when content length is too short */
.main-area { min-height: 70vh; }

/* one line text ellipsis */
.ellipsis { overflow: hidden; white-space: nowrap; -o-text-overflow: ellipsis; text-overflow: ellipsis; }
